
/* Navbar Styles */

.navStyle {
    background: white;
}

/* Home Page Styles */

.homeTitle {
    font-family: 'Poiret One', cursive;
}
.titleOne {
    margin-top: 20%;
}
.homeBlipOne {
    font-family: 'Anonymous Pro', monospace;

}

