
/* Navbar Styles */

.navStyle {
    background: white;
}

/* Home Page Styles */

.homeHero {
    background: linear-gradient(#000, #000) no-repeat center/2px 100%;
}
.titleOne {
    margin-top: 20%;
}
.homeBlipOne {
    font-family: 'Anonymous Pro', monospace;

}

